INTERPRETER = data/spn_ssd_640x640_v2.tflite
LABEL = data/label.txt

CAMERA_WIDTH = 640
CAMERA_HEIGHT = 480

SOURCE = data/source/traffic_2.mp4
OUTPUT = data/output/output.avi

LINE = '[{"label": "A", "line": [[267, 413], [488, 313]]}, {"label": "B", "line": [[54, 66], [23, 68]]}]'